<a href="https://colab.research.google.com/github/Ahnjihye/Data_Analysis-/blob/master/(%EC%99%84%EC%84%B1%EB%B3%B8)_%EA%B5%90%EC%82%AC_%EB%8C%80%EC%83%81__day1__%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 출력명령어 print()


```
print( 출력할 내용 )
```

In [ ]:
# 숫자 출력 20200902
print(20200902)

20200902

In [ ]:
# 문자 출력 2020년 9월 2일
print(2020년 9월 2일)

SyntaxError: ignored

In [ ]:
# 문자는 따옴표로 감싸주어야 함
print('2020년 9월 2일')

In [ ]:
# 연산하여 출력하기
print(12+34)
print(12-34)
print(12*34)
print(12/34)

46
-22
408
0.35294117647058826

In [ ]:
#** 제곱
print(5**2)

#몫
print(5//2)

#나머지
print(5%2)

25
2
1

In [ ]:
# 문자 연결하여 출력하기
print('Pick','me')

Pick me

# 2. 입력명령어 input()


```
input('입력 안내문')
```

In [ ]:
input()

1

'1'

In [ ]:
input('아이디 : ')

아이디 : let's getit

"let's getit"

In [ ]:
input('아이디 -->')
input('비밀번호 -->')

결과 확인해보기
> 입력된 데이터 양 옆의 작은 따옴표      
> input()으로 읽어들인 데이터는 모두 문자로 인식

# 3. 변수


<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/1_%EB%B3%80%EC%88%98.png?raw=true' width =500>

In [ ]:
# 변수 a에 10을 저장하고 출력하기
a = 10
print(a)

10

<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/2_%EB%B3%80%EC%88%98%EC%97%B0%EC%82%B0.png?raw=true' width =300px>

In [ ]:
# a를 5증가시킨 후 출력하기
a = a+5
print(a)

15

In [ ]:
# 같은 변수를 증가/감소시킬 때 간략하게 사용하기
a += 5
print(a)

20

In [ ]:
a *= 2
print(a)

40

실습 1. 사과 3개, 바나나 1개, 키위 2개 구매한 가격을 새로운 변수에 저장하여 출력하기


```
# 출력결과
사과는 1200원, 바나나는 800원, 키위는 1700
```

In [ ]:
apple = 1200
banana = 800
kiwi = 1700

print('사과는',1200,'원, 바나나는',banana,'원, 키위는',kiwi)

사과는 1200 원, 바나나는 800 원, 키위는 1700

In [ ]:
# 사과 3개, 바나나1개, 키위2개 구매한 가격은?
price = apple*3 + banana*1 + kiwi*2
price

7800

vip는 20% 할인된다. 동일한 물건을 구매했을 때 vip가 내는 가격을 새로운 변수 vip_price에 저장하여 출력하기



```
# 출력 결과
vip가격은 000원
```

In [ ]:
vip_price = price * 0.8
print('vip 가격은',vip_price,'원')

vip 가격은 6240.0 원

#  4. 데이터타입

```
정수 int
실수 float
문자 str
```

In [ ]:
type(apple)

int

In [ ]:
type(banana)

int

In [ ]:
type(vip)

float

In [ ]:
a = '안녕하세요'
type(a)

str

### 데이터타입 변경하기
변경하려는 데이터타입으로 감싸주기


```
# 정수로 변경하기
int(변수)

# 실수로 변경하기
float(변수)

# 문자로 변경하기
str(변수)
```

In [ ]:
# 정수를 실수로 
float(apple)

1200.0

In [ ]:
# 실수를 정수로
int(vip_price)

6240

In [ ]:
# 문자를 숫자로
num = '20200129'
int(num)

20200129

#  5. 리스트

```
리스트 여러 데이터를 한 번에 묶어서 표현
리스트이름 = [데이터1, 데이터2, ..., 데이터n]
```

> 실생활의 리스트 
    
<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/56_%EC%82%AC%EC%95%BC%ED%95%A0%20%EB%A6%AC%EC%8A%A4%ED%8A%B8.png?raw=true' width=150>

</br>
</br>

> 파이썬의 리스트

<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/6_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EA%B0%9C%EB%85%90.png?raw=true' width=600>

In [ ]:
# 1월 지출부터 6월 지출까지 리스트로 만들기
spend = [25,36,8,53,24,56]

In [ ]:
spend

[25, 36, 8, 53, 24, 56]

In [ ]:
type(spend)

list

### 리스트와 인덱스
<img src ='https://github.com/Ahnjihye/allinone_AI/blob/images/7_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width =700>

In [ ]:
# 1월 지출은?
print(spend[0])

25

In [ ]:
# 6월 지출은?
print(spend[5])

56

In [ ]:
# 3월 지출은?
print(spend[2])

8

알고보니 4월 지출이 10낮게 기록됐다. 4월 지출에 10을 더하시오

In [ ]:
print('변경 전 :', spend)

spend[3] += 10

print('변경 후 :', spend)

변경 전 : [25, 36, 8, 53, 24, 56]
변경 후 : [25, 36, 8, 63, 24, 56]

5월 지출을 2로 나누시오

In [ ]:
print('변경 전 :', spend)

spend[4] /= 2

print('변경 후 :', spend)

변경 전 : [25, 36, 8, 63, 24, 56]
변경 후 : [25, 36, 8, 63, 12.0, 56]

### 마이너스 인덱스

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/8_%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%A7%88%EC%9D%B4%EB%84%88%EC%8A%A4%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width=500>

In [ ]:
print(spend[5])
print(spend[-1])

56
56

In [ ]:
print(spend[4])
print(spend[-2])

12.0
12.0

#  7.  리스트의 다양한 기능

```
len(리스트이름)            # 리스트 길이 확인
```

In [ ]:
len(spend)

6

### 리스트에 데이터 추가하기

```
리스트이름.append(데이터)    # 리스트에 데이터 추가
```

In [ ]:
# 좋아하는 과일 순서대로 리스트에 추가해보기
fruit = []

In [ ]:
# 딸기 추가
fruit.append('딸기')
fruit

['딸기']

In [ ]:
# 한라봉 추가
fruit.append('한라봉')
fruit

['딸기', '한라봉']

In [ ]:
# 바나나 추가
fruit.append('바나나')
fruit

['딸기', '한라봉', '바나나']

 리스트 fruit에 참외를 추가한후, 본인이 좋아하는 과일 하나 더 추가해보기

In [ ]:
# 참외 추가해보기
fruit.append('참외')
fruit

['딸기', '한라봉', '바나나', '참외']

### 리스트 슬라이싱

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/9_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1.png?raw=true' width=500>


```
리스트[시작숫자 : 종료숫자]
```
종료숫자까지 잘라내는 것 XXX
종료숫자에서 탈출하는 것 OOO



```
abc[2:5]       # abc[2]~abc[4]까지 슬라이싱하고 abc[5]가 되면 탈출함
abc[4:9]       # abc[4]~abc[9]까지 슬라이싱하고 abc[9]가 되면 탈출함
```

In [ ]:
fruit

['딸기', '바나나', '참외', '한라봉']

In [ ]:
# 바나나, 참외만 골라내기
fruit[1:3]

['바나나', '참외']

In [ ]:
# 처음부터 [n]까지 골라내기
fruit[:2]

['딸기', '바나나']

In [ ]:
# 뒤에서 n개 데이터 슬라이싱
fruit[-2:]

['참외', '한라봉']

### 문자열 슬라이싱

In [ ]:
date = '2021-01-25'

In [ ]:
date[:4]

'2021'

In [ ]:
date[-2:]

'25'

In [ ]:
date[5:7]

'01'

위 date에서 월(month)만 골라내 숫자형태로 변수 mon에 저장하시오.

In [ ]:
# 월만 골라내기
mon = int(date[5:7])
print(mon)

1

위 date에서 일(day)만 숫자 형태로 골라내 변수에 저장하시오.

In [ ]:
# 일만 골라내기
day = int(date[-2:])
day

25

# 7. 선택구조 

지금까지의 명령어는 항상 실행되는 명령어 
</br>

조건을 충족할 때만 실행되거나/ 실행되지 않는 명령어
</br>
</br>
**선택구조 : 조건을 충족할 때에만 선택적으로 실행되는 명령어**
</br>
</br>
<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/10_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B0%20%EC%98%88%EC%8B%9C%20png.png?raw=true' width=500>
</br>
</br>
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/10_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B0.png?raw=true' width=500>

In [ ]:
# 만약 미성년자라면 술을 구매할 수 없다고 출력
age = 20

if age < 20 : 
    print('술을 구매할 수 없습니다.')

> 조건문에서는 들여쓰기를 조심하세요!
</br>
<img src ='https://github.com/Ahnjihye/allinone_AI/blob/images/10_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B0%20%EB%93%A4%EC%97%AC%EC%93%B0%EA%B8%B0%20png.png?raw=true' width=200>

### 조건을 만드는 비교연산자

a와 b가 같다면
> if a == b :      

</br>

a와 b가 같지 않다면

> if a != b :   

</br>


a가 b보다 크다면
> if a > b :     

a가 b보다 크거나 같다면 
> if a >= b :      

a가 b보다 작다면
> if a < b :        

a가 b보다 작거나 같다면
> if a <= b :

출석 혹은 결석 둘 중 하나를 입력받고, 출석을 입력받았을 경우 O를 출력하기

In [ ]:
# 자동 출석 시스템 
check = input('출석 혹은 결석을 입력하세요 ')
if check == '출석' : 
    print('0')

출석 혹은 결석을 입력하세요 출석
0

### 조건을 충족하지 않을 때 if-else 


<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/11_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B02%20-%20%EC%98%88%EC%8B%9C.png?raw=true' width = 300>
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/11_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B02.png?raw=true' width=400>

자동 출석 시스템 
```
출석 혹은 결석을 입력받아 출석이면 O을 출력, 결석이면 X를 출력하기
입력안내문 : 출석 혹은 결석을 입력하세요
```

In [ ]:
# 자동 출석 시스템 
check = input('출석 혹은 결석을 입력하세요 ')
if check == '출석' : 
    print('0')
else : 
    print('X')

무료배송 


```
총 상품금액을 입력받아, 3만원 미만이면 배송비 2500원을 추가해 총 결제금액을 출력하고, '배송비 2500원이 같이 결제됩니다'를 출력
3만원 이상일 때는 결제금액과 '무료배송됩니다!'를 출력
```

In [ ]:
# 무료배송 
price = int(input('총 상품금액은? '))

if price < 30000 : 
    price += 2500
    print('총 결제금액은', price)
    print('배송비 2500원이 같이 결제됩니다')
else : 
    print('총 결제금액은', price)
    print('무료배송됩니다!')

총 상품금액은? 5000
총 결제금액은 7500
배송비 2500원이 같이 결제됩니다

# 8. 반복문
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/4_%EB%B0%98%EB%B3%B5%EB%AC%B8.png?raw=true' width=500>

In [ ]:
for a in [1,2,3,4,5] : 
    print(a, '안녕하세요!')

1 안녕하세요!
2 안녕하세요!
3 안녕하세요!
4 안녕하세요!
5 안녕하세요!

<img src ='https://github.com/Ahnjihye/allinone_AI/blob/images/5_%EB%B0%98%EB%B3%B5%EB%AC%B8%20%EB%8F%99%EC%9E%91%EA%B5%AC%EC%A1%B0.png?raw=true' width=500>

다음 spend의 모든 원소를 차례대로 출력하시오 


```
spend = [43, 12, 65, 67, 23, 12]
```

In [ ]:
spend = [43, 12, 65, 67, 23, 12]

for s in spend : 
    print('지출은', s)

지출은 43
지출은 12
지출은 65
지출은 67
지출은 23
지출은 12

### 리스트와 반복문, 조건문

In [ ]:
# 50이상 쓴 금액을 출력하시오
for s in spend : 
    if s >= 50 : 
        print(s,'만원', spend.index(s),'월')

65 만원 2 월
67 만원 3 월

### range(시작숫자, 종료숫자)

연속된 숫자를 표현하는 range()

In [ ]:
# 인덱스를 활용하고 싶을 때 range()
for i in range(0,6) : 
    print(i,'월 지출은', spend[i])

0 월 지출은 25
1 월 지출은 36
2 월 지출은 8
3 월 지출은 63
4 월 지출은 12.0
5 월 지출은 56

In [ ]:
# 인덱스는 0부터 시작
for i in range(0,6) : 
    print(i+1,'월 지출은', spend[i])

1 월 지출은 25
2 월 지출은 36
3 월 지출은 8
4 월 지출은 63
5 월 지출은 12.0
6 월 지출은 56

In [ ]:
# len() 활용하기
for i in range(0,len(spend)) : 
    print(i+1,'월 지출은', spend[i])

1 월 지출은 25
2 월 지출은 36
3 월 지출은 8
4 월 지출은 63
5 월 지출은 12.0
6 월 지출은 56

In [ ]:
# range()가 0부터 시작하면 생략 가능
for i in range(len(spend)) : 
    print(i+1,'월 지출은', spend[i])

1 월 지출은 25
2 월 지출은 36
3 월 지출은 8
4 월 지출은 63
5 월 지출은 12.0
6 월 지출은 56

spend에서 50이상 쓴 달을 출력하시오, 단 range를 사용하시오

In [ ]:
# 50이상 쓴 달을 출력하시오
for i in range(len(spend)) : 
    if spend[i] >= 50 : 
        print(i+1,'월 ',spend[i])

4 월  63
6 월  56

# 9. 이차원 리스트

<img src ='https://github.com/Ahnjihye/allinone_AI/blob/images/14_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8.png?raw=true' width = 700>

In [ ]:
abc = [[1,2,3], [4,5,6], [7,8,9]]
abc

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
abc[0]

[1, 2, 3]

In [ ]:
abc[1]

[4, 5, 6]

In [ ]:
abc[-1]

[7, 8, 9]

## 이차원 리스트의 인덱스

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/15_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width = 700>

In [ ]:
# 1 출력하기
abc[0][0]

1

이차원 리스트 abd에서 인덱스를 활용해 다음 숫자를 출력하시오

In [ ]:
# 6 출력하기
abc[1][2]

6

In [ ]:
# 8 출력하기
abc[2][1]

8

## 반복문과 이차원 리스트

In [ ]:
for row in abc : 
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

> 이차원리스트 반복 원리

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/16_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%B0%98%EB%B3%B5%EA%B5%AC%EC%A1%B0.png?raw=true' width=800>

In [ ]:
# 모든 줄의 첫번째 데이터만 출력
for row in abc : 
    print(row[0])

1
4
7

In [ ]:
# 모든 줄의 마지막 데이터(세번째 열)만 출력
for row in abc : 
    print(row[-1])

3
6
9

# 10. 올림픽 데이터

<img src= 'https://github.com/Ahnjihye/allinone_AI/blob/images/17_%EC%98%AC%EB%A6%BC%ED%94%BD.png?raw=true' width=500>



```
olympic =[
          [1,'미국',46,37,38,121],
          [2,'영국',27,23,17,67],
          [3,'중국',26,18,26,70],
          [4,'러시아',19,18,19,56],
          [5,'독일',17,10,15,42],
          [6,'일본',12,8,21,41],
          [7,'프랑스',10,18,14,42],
          [8,'대한민국',9,3,9,21] 
        ]
```

In [ ]:
olympic =[
          [1,'미국',46,37,38,121],
          [2,'영국',27,23,17,67],
          [3,'중국',26,18,26,70],
          [4,'러시아',19,18,19,56],
          [5,'독일',17,10,15,42],
          [6,'일본',12,8,21,41],
          [7,'프랑스',10,18,14,42],
          [8,'대한민국',9,3,9,21] 
        ]

In [ ]:
# 순위권에 든 모든 국가를 출력하시오
for row in olympic :
    print(row[1])

미국
영국
중국
러시아
독일
일본
프랑스
대한민국

In [ ]:
# 금메달보다 은메달 개수가 많은 나라를 출력하시오
for row in olympic : 
    if row[2] < row[3] : 
        print(row[1])

프랑스

In [ ]:
# 금메달보다 동메달 개수가 많은 나라를 출력하시오
for row in olympic : 
    if row[2] < row[4] : 
        print(row[1])

일본
프랑스

In [ ]:
# 모든 나라의 금메달 합을 구하시오
gold = 0

for row in olympic : 
    gold += row[2]

In [ ]:
gold

166